.blog {
    position: relative;

    &__image {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        object-fit: cover;
        z-index: -5;
        background-repeat: no-repeat;
    }
}

.blog__main {
    height: 100%;
}

.blog__container {
    height: 100vh;
    display: flex;
    flex-direction: column !important;
    
    background-image: linear-gradient(
        180deg,
        rgba(3, 1, 22, 0.7287289915966386) 0%,
        rgba(61, 61, 113, 0.7371323529411764) 17%,
        rgba(255, 255, 255, 1) 100%
    );
}

.blog__title {
    text-align: center;
    margin: 2rem 0 0.6rem 0;
    color: white;
}

.blog__subtitle {
    text-align: center;
    margin: 1.2rem 0;
    color: lightgray;
}

.blog__blogContainer {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.blog__grid {
    margin: 0 0.5rem;
    background-color: rgba(black, 0.75);
    position: relative;
    max-height: 55vh;
    overflow: auto;
}

.blog__blogTitle {
    position: sticky;
    top: -1%;
    color: lightblue;
    text-align: center;
    background-color: black;
    z-index: 50;
    padding: 0.5rem;
}

.blog__logoGrid {
    display: flex;
    padding: 0.25rem 2rem;
    cursor: pointer;
    margin: 0.75rem;
    transition: all 0.4s;
    &:hover {
        background-color: chocolate;
    }
}

.blog__logoText {
    color: lightgray;
    cursor: pointer;
    margin: 0 0.75rem;
    display: flex;
    align-items: center;
}

.blog__buttonGrid {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .blog__grid {
        margin: 0.5rem 0;
        height: 26vh;
    }

    .blog__logoGrid {
        display: flex;
        padding: 0 0.2rem;
    }
    .blog__blogContainer {
        height: 59vh;
    }
    .blog__main {
        display: flex;
        flex-direction: column !important;
        justify-content: space-around;
    }
}
