.markdownGrid {
	padding: 1vh 4rem;
	overflow-x: auto;
	text-align: start;
	font-size: 100%;
	max-width: 1440px;
	margin: 5rem auto 0 auto;
	border-right: 0.5px solid lightgray;
	border-left: 0.5px solid lightgray;
	border-bottom: 1px solid lightgray;
	overflow-x: hidden;
	font-family: "Oxygen";
}

.pageFooter {
	padding: 1rem 4rem;
	max-width: 1440px;
	margin: 0 auto;
	padding-bottom: 10rem;
	& p {
		font-size: 100%;
		& strong {
			cursor: pointer;
			color: #4b6587;
		}
	}
}
