.formGrid {
    margin: 2rem 0;
    padding: 2rem 4rem;
    &__input {
        margin: 1rem 0;
    }

    &__button {
        margin-top: 2rem;
    }

    &__message {
        & textarea {
            min-height: 5rem;
        }
    }

    &__dialogBox {
        & .MuiDialog-paperScrollPaper {
            background-color: white;
            border: 0.2px solid #c8c6c6;
            padding: 2rem;
        }
    }
}
