.footer {
    padding: 0.5rem;
    margin: 1rem auto;
}
.mailGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    & h6 {
        text-align: center;
        color: #4b6587;
    }
}

.socialGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
        fill: black;
        cursor: pointer;
        margin: 0 0.25rem;
        translate: all 0.4s;
        &:hover {
            fill: #4b6587;
        }
    }
}
