.projectsContainer {
    padding: 15vh 2rem;
    max-width: 1440px;
    margin: 0 auto;
    &__title {
        text-align: start;
        padding-left: 2rem;
    }
}

.marginBottom {
    margin-bottom: 5%;
}

.projectGrid {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    grid-auto-flow: row dense;
    min-width: 300px;
    margin: 0 auto;
}

@media only screen and (max-width: 900px) {
    .projectsContainer {
        padding: 5% 0;
    }
    .projectGrid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 80%;
    }
}
