.serviceCardGrid {
  border: 0.2px solid #4b6587;
  border-radius: 20px;
  margin: 2.5%;
  display: flex;
  flex-direction: column !important;
  transition: all 0.5s;
  padding: 1rem 2rem;
  height: 100%;
  max-height: 500px;
  width: 100%;
  align-items: center;
  & svg {
    fill: #4b6587;
    height: 3rem;
    width: 3rem;
    transition: all 0.5s;
  }
  &:hover {
    background: #4b6587;
    color: white;
    & svg {
      fill: white;
      transform: scale(1.25);
    }
  }

  &__logoGrid {
    padding: 1rem 0;
    flex: 1;
  }

  &__titleGrid {
    padding: 0.5rem 0;
    flex: 1;
  }

  &__descriptionGrid {
    padding: 0.5rem;
    margin: auto;
    flex: 3;
  }
}

@media screen and (max-width: 1200px) {
  .serviceCardGrid {
    padding: 0.5rem;
    height: 100%;
    width: 100%;
  }
}
