.servicesGrid {
    max-height: 50rem;
    overflow-y: hidden;
    margin: 1.5rem 0 !important;
}

@media only screen and (max-width: 600px) {
    .servicesGrid {
        padding: 0.5rem;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}

.overallGrid {
    max-width: 1440px;
    margin: 0 auto !important;
    padding: 2.5rem 1.5rem;
}
