.techContainer {
    padding: 5rem 0 10rem 0;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 90%,
        60% 90%,
        50% 100%,
        40% 90%,
        0% 90%
    );
    position: relative;
    &__widthGrid {
        margin: auto;
        max-width: 1440px;
    }
    &__image {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        object-fit: cover;
        width: 100%;
        z-index: -5;
        filter: brightness(0.25);
    }
}

@media only screen and (max-width: 900px) {
    .techContainer {
        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 95%,
            60% 95%,
            50% 100%,
            40% 95%,
            0% 95%
        );
    }
}
