.techStack {
    &__logoGrid {
        margin: 1.5rem;
        position: relative;
        display: flex;
        justify-content: center;

        &--text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate((-50%, -50%));
            display: none;
            font-weight: bold;
            cursor: default;
        }

        &:hover {
            .techStack__logo {
                filter: blur(1rem) brightness(5%);
            }

            .techStack__logoGrid--text {
                display: inherit;
            }
        }
    }
    &__logo {
        transition: all 0.4s;
        width: 75px;
        height: 75px;
    }
}
