.formGrid {
    margin: 2rem 0;
}

.input {
    margin: 1rem 0;
}

.button {
    margin-top: 2rem;
}

.message {
    & textarea {
        min-height: 5rem;
    }
}

.dialogBox {
    & .MuiDialog-paperScrollPaper {
        background-color: #c8c6c6;
        border: 0.2px solid lightgray;
    }
}
