.titleGrid {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    color: white;
}

.formGrid {
    max-width: 720px;
    margin: auto;
    padding: 0 2rem;
}

.contactGrid {
    margin: auto;
    padding: 5vh 0 10vh 0;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: rgba(#4b6587, 0.6);
    clip-path: polygon(0% 7.5%, 100% 0%, 100% 92.5%, 0% 100%);
}

@media only screen and (max-width: 600px) {
    .contactGrid {
        clip-path: (0% 3.5%, 100% 0%, 100% 96.5%, 0% 100%);
    }
}
