.homepageContainer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: min(35%,150px) 0;
    min-height: 750px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 75%);
}

.homepageContainer h6 { 
    max-width: 50%;
}

.button {
    margin-top: 2rem;
    border: none;
    outline: none;
    background-color: rgb(75, 202, 135);
    padding: 1rem 2rem;
    border-radius: 5;
    cursor: pointer;
    color: black;
    font-size: 1.5rem;
    transition: all .4s;
}

.button:hover {
    background-color: #C8C6C6;
    color: #4B6587;
}


@media only screen and (max-width:900px) {
    .homepageContainer {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
        min-height: 0;
    }
    .homepageContainer h6 { 
        max-width: 80%;
    }
}